Repository kirill-konshin/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier

fix: ci cache rules
  .github/actions/setup/action.yml
  packages/lint/rules/github.md
  packages/lint/rules/gitlab.md
  packages/utils/package.json
Due: yarn prettier

chore: build tooling, yarn, eslint
  eslint.config.mjs
  packages/utils-private/vite.config.ts
  packages/utils-private/vite.exports.ts
  yarn.lock
Due: yarn eslint, yarn prettier

fix: claude & codex links
  packages/lint/src/lintPrepare.ts
Due: yarn eslint, yarn prettier

chore: claude & codex links
  .yarnrc.yml
  AGENTS.md
Due: yarn prettier

fix: worktree tip
  packages/lint/rules/webstorm.md
Due: yarn prettier

feat: lint performance
  packages/lint/README.md
  packages/lint/package.json
  packages/lint/rules/webstorm.md
  packages/lint/src/configs/imports.ts
  packages/lint/src/configs/react.ts
  packages/lint/src/configs/testing.ts
  packages/lint/src/configs/unicorn.ts
  packages/lint/src/exts.ts
  packages/lint/src/index.ts
  packages/lint/src/lib.ts
  packages/lint/src/lintStaged.test.ts
  packages/lint/src/lintStaged.ts
  packages/lint/src/prettier.test.ts
  packages/lint/src/prettier.ts
  packages/lint/src/testUtils.ts
Due: yarn eslint, yarn prettier

chore: root files
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.mjs
  .prettierrc.mjs
  yarn.lock
Due: yarn eslint, yarn prettier

fix: updated rules + new Agent rules
  .codex/skills/lint-repo/README.md
  .codex/skills/lint-repo/SKILL.md
  packages/lint/README.md
  packages/lint/package.json
  packages/lint/rules/agent.md
  packages/lint/rules/auth.md
  packages/lint/rules/code-style.md
  packages/lint/rules/db.md
  packages/lint/rules/electron.md
  packages/lint/rules/i18n.md
  packages/lint/rules/jest.md
  packages/lint/rules/nx.md
  packages/lint/rules/turbo.md
  packages/lint/rules/typescript.md
  packages/lint/src/lintPrepare.test.ts
  packages/lint/src/lintPrepare.ts
Due: yarn eslint, yarn prettier

chore: internal rules, cleanup
  .claude/CLAUDE.md
  .codex/skills/lint-repo/README.md
  .codex/skills/lint-repo/SKILL.md
  AGENTS.md
  rules/build-and-test.md
  rules/dependencies.md
  rules/packages.md
  rules/releases.md
  yarn.lock
Due: yarn prettier

fix: updated rules + new Agent rules
  packages/lint/AGENTS.md
  packages/lint/rules/agent.md
Due: yarn prettier

fix: updated rules + new Agent rules
  packages/lint/rules/agent.md
Due: yarn prettier

chore: updated rules + new Agent rules
  AGENTS.md
Due: yarn prettier

fix: custom rules -> skills
  packages/lint/AGENTS.md
  packages/lint/README.md
  packages/lint/rules/agent.md
  packages/lint/skills/lint-repo.md
  packages/lint/src/lintPrepare.test.ts
  packages/lint/src/lintPrepare.ts
Due: yarn eslint, yarn prettier

chore: custom rules -> skills
  .agents/skills/dependencies/SKILL.md
  .agents/skills/module-boundaries/SKILL.md
  .agents/skills/packages/SKILL.md
  .agents/skills/releases/SKILL.md
  AGENTS.md
  rules/build-and-test.md
Due: yarn prettier

fix: steward fix
  packages/lint/package.json
  packages/lint/rules/openspec.md
  packages/lint/rules/testing.md
  packages/lint/skills/spec-steward/SKILL.md
  packages/lint/skills/spec-steward/references/apply.md
  packages/lint/skills/spec-steward/references/audit.md
  packages/lint/skills/spec-steward/references/contract.md
  packages/lint/skills/spec-steward/references/criteria.md
  packages/lint/skills/spec-steward/references/model.md
  packages/lint/skills/spec-steward/references/review-format.md
  packages/lint/skills/spec-steward/references/wiring.md
  packages/lint/skills/spec-steward/scripts/lib/align.mjs
  packages/lint/skills/spec-steward/scripts/lib/checks.mjs
  packages/lint/skills/spec-steward/scripts/lib/citations.mjs
  packages/lint/skills/spec-steward/scripts/lib/corpus.mjs
  packages/lint/skills/spec-steward/scripts/lib/coverage.mjs
  packages/lint/skills/spec-steward/scripts/lib/evidence.mjs
  packages/lint/skills/spec-steward/scripts/lib/git.mjs
  packages/lint/skills/spec-steward/scripts/lib/review.mjs
  packages/lint/skills/spec-steward/scripts/lib/scan.mjs
  packages/lint/skills/spec-steward/scripts/lib/util.mjs
  packages/lint/skills/spec-steward/scripts/lib/wire.mjs
  packages/lint/skills/spec-steward/scripts/steward.mjs
  packages/lint/skills/spec-steward/scripts/steward.test.mjs
  packages/lint/skills/spec-steward/workflows/audit.js
  packages/lint/src/lintPrepare.test.ts
  packages/lint/src/lintPrepare.ts
Due: yarn eslint, yarn prettier

chore: steward fix
  .gitignore
  .prettierignore
  AGENTS.md
  package.json
  yarn.lock
Due: yarn prettier

fix: rules to skills
  packages/lint/README.md
  packages/lint/rules/github.md
  packages/lint/rules/gitlab.md
  packages/lint/rules/nextjs.md
  packages/lint/rules/storybook.md
  packages/lint/rules/tailwind.md
  packages/lint/rules/webstorm.md
  packages/lint/skills/lint-github/SKILL.md
  packages/lint/skills/lint-gitlab/SKILL.md
  packages/lint/skills/lint-nextjs/SKILL.md
  packages/lint/skills/lint-repo/SKILL.md
  packages/lint/skills/lint-webstorm/SKILL.md
  packages/lint/skills/lint-worktree/SKILL.md
  packages/lint/src/lintPrepare.test.ts
  packages/lint/src/lintPrepare.ts
Due: yarn eslint, yarn prettier

chore: rules to skills
  .agents/commands/normalize-extensions.md
Due: yarn prettier

fix: rules to skills
  scripts/checkPackageBuilds.mjs
Due: yarn eslint, yarn prettier

fix: skill fix, discard .codex
  packages/lint/README.md
  packages/lint/rules/agent.md
  packages/lint/skills/spec-steward/SKILL.md
  packages/lint/skills/spec-steward/references/contract.md
  packages/lint/skills/spec-steward/references/model.md
  packages/lint/skills/spec-steward/references/wiring.md
  packages/lint/skills/spec-steward/scripts/lib/align.mjs
  packages/lint/skills/spec-steward/scripts/lib/checks.mjs
  packages/lint/skills/spec-steward/scripts/lib/corpus.mjs
  packages/lint/skills/spec-steward/scripts/lib/coverage.mjs
  packages/lint/skills/spec-steward/scripts/lib/evidence.mjs
  packages/lint/skills/spec-steward/scripts/steward.test.mjs
  packages/lint/src/configs/testing.test.ts
  packages/lint/src/configs/testing.ts
  packages/lint/src/index.ts
  packages/lint/src/lintPrepare.test.ts
  packages/lint/src/lintPrepare.ts
  packages/lint/src/restrictions.test.ts
  packages/lint/src/restrictions.ts
Due: yarn eslint, yarn prettier

chore: skill fix, discard .codex
  AGENTS.md
Due: yarn prettier

chore: nexus
  packages/lint/.gitignore
Due: none

chore: lock
  yarn.lock
Due: none

fix: stewart & verify cli
  packages/lint/AGENTS.md
  packages/lint/README.md
  packages/lint/package.json
  packages/lint/skills/spec-steward/SKILL.md
  packages/lint/skills/spec-steward/references/contract.md
  packages/lint/skills/spec-tools/SKILL.md
  packages/lint/skills/spec-tools/references/contract.md
  packages/lint/skills/spec-tools/references/gitlab.md
  packages/lint/skills/spec-verify/SKILL.md
  packages/lint/spec-tools/src/auditParts.ts
  packages/lint/spec-tools/src/changeGates.ts
  packages/lint/spec-tools/src/ci.ts
  packages/lint/spec-tools/src/cli.test.ts
  packages/lint/spec-tools/src/cli.ts
  packages/lint/spec-tools/src/files.ts
  packages/lint/spec-tools/src/skillsDir.ts
  packages/lint/spec-tools/src/specDiff.test.ts
  packages/lint/spec-tools/src/specDiff.ts
  packages/lint/spec-tools/src/steward.ts
  packages/lint/spec-tools/src/steward/lib/align.ts
  packages/lint/spec-tools/src/steward/lib/checks.ts
  packages/lint/spec-tools/src/steward/lib/citations.ts
  packages/lint/spec-tools/src/steward/lib/corpus.ts
  packages/lint/spec-tools/src/steward/lib/coverage.ts
  packages/lint/spec-tools/src/steward/lib/evidence.ts
  packages/lint/spec-tools/src/steward/lib/git.ts
  packages/lint/spec-tools/src/steward/lib/review.ts
  packages/lint/spec-tools/src/steward/lib/scan.ts
  packages/lint/spec-tools/src/steward/lib/util.ts
  packages/lint/spec-tools/src/steward/lib/wire.ts
  packages/lint/spec-tools/src/steward/steward.test.ts
  packages/lint/spec-tools/src/steward/steward.ts
  packages/lint/spec-tools/src/stewardAudit.ts
  packages/lint/spec-tools/src/workers.ts
  packages/lint/tsdown.config.ts
Due: yarn eslint, yarn prettier

chore: lock, ignore
  .gitignore
  yarn.lock
Due: none

fix: lint fix
  packages/lint/src/index.test.ts
  packages/lint/src/lib.ts
Due: yarn eslint, yarn prettier

fix: haiku 5.5 & sonnet 5.5, more flexible configuration of jobs
  packages/lint/README.md
  packages/lint/skills/spec-tools/references/contract.md
  packages/lint/skills/spec-tools/references/gitlab.md
  packages/lint/skills/spec-verify/SKILL.md
  packages/lint/spec-tools/src/auditParts.test.ts
  packages/lint/spec-tools/src/auditParts.ts
  packages/lint/spec-tools/src/auditScope.test.ts
  packages/lint/spec-tools/src/auditScope.ts
  packages/lint/spec-tools/src/ci.test.ts
  packages/lint/spec-tools/src/tier.test.ts
  packages/lint/spec-tools/src/tier.ts
  packages/lint/spec-tools/src/workers.test.ts
  packages/lint/spec-tools/src/workers.ts
Due: yarn eslint, yarn prettier

fix: worker optimization
  packages/lint/skills/spec-tools/references/contract.md
  packages/lint/skills/spec-tools/references/gitlab.md
  packages/lint/spec-tools/src/tier.test.ts
  packages/lint/spec-tools/src/tier.ts
  packages/lint/spec-tools/src/workers.test.ts
Due: yarn eslint, yarn prettier

fix: worker optimization
  packages/lint/spec-tools/src/auditReport.test.ts
  packages/lint/spec-tools/src/auditReport.ts
Due: yarn eslint, yarn prettier

fix: specificity of rules & rewording, yaml as intermediate & report format, ASD-STE100 syntax
  packages/lint/skills/spec-tools/SKILL.md
  packages/lint/skills/spec-tools/references/contract.md
  packages/lint/skills/spec-tools/references/gitlab.md
  packages/lint/skills/spec-tools/references/rules/common.md
  packages/lint/skills/spec-verify/SKILL.md
  packages/lint/spec-tools/src/auditReport.test.ts
  packages/lint/spec-tools/src/auditReport.ts
  packages/lint/spec-tools/src/comment.ts
  packages/lint/spec-tools/src/verdict.test.ts
  packages/lint/spec-tools/src/verdict.ts
  packages/lint/spec-tools/src/workers.test.ts
  packages/lint/spec-tools/src/workers.ts
Due: yarn eslint, yarn prettier

Path conditions:
  yarn eslint: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  yarn prettier: any of: *.{js,jsx,ts,tsx,cjs,mjs,css,scss,sass,less,md,mdx,yml,json,html}
