Repository kirill-konshin/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": "yarn eslint",
  "*.{js,jsx,ts,tsx,cjs,mjs,css,scss,sass,less,md,mdx,yml,json,html}": "yarn prettier"
}

Added softlink
  packages/browser/package.json
  packages/core/package.json
  packages/next/src/index.ts
  packages/next/src/softLink.tsx
  packages/node/package.json
  packages/react/package.json
  packages/utils-private/vite.exports.ts
  packages/utils/package.json
  packages/worker/package.json
Due: yarn eslint, yarn prettier

Added softlink, agent rules
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .idea/vcs.xml
  package.json
  packages/agents/CHANGELOG.md
  packages/agents/package.json
  packages/agents/rules/07-react.md
  packages/agents/rules/08-next.md
  packages/agents/rules/09-github.md
  packages/agents/rules/10-gitlab.md
  packages/agents/rules/11-idea.md
  packages/agents/rules/12-electron.md
  packages/agents/rules/13-mobile.md
  packages/agents/rules/14-npm-yarn.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/appLink.tsx
  packages/next/src/index.ts
  packages/next/src/redirect.tsx
  packages/next/src/softLink.tsx
  packages/react/package.json
  packages/utils-private/vite.exports.ts
Due: yarn eslint, yarn prettier

GH Actions simplified
  .github/workflows/pr.yml
  .github/workflows/release.yml
  packages/agents/rules/09-github.md
Due: yarn prettier

GH Actions simplified
  packages/agents/rules/14-npm-yarn.md
Due: yarn prettier

Minor fixes
  packages/agents/CHANGELOG.md
  packages/agents/package.json
  packages/agents/rules/07-react.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/appLink.tsx
Due: yarn eslint, yarn prettier

Added softlink
  packages/browser/package.json
  packages/core/package.json
  packages/node/package.json
  packages/utils/package.json
  packages/worker/package.json
Due: yarn prettier

Agent rules
  packages/agents/bin/index.js
  packages/agents/rules/01-agents.md
  packages/agents/rules/04-typescript.md
Due: yarn eslint, yarn prettier

Agent instructions
  packages/agents/rules/14-npm-yarn.md
  packages/agents/rules/15-i18n.md
Due: yarn prettier

fix: dropped file prefixes, fixed the rules
  packages/agents/README.md
  packages/agents/bin/index.js
  packages/agents/package.json
  packages/agents/rules/01-agents.md
  packages/agents/rules/02-changesets.md
  packages/agents/rules/11-idea.md
  packages/agents/rules/electron.md
  packages/agents/rules/expo.md
  packages/agents/rules/github.md
  packages/agents/rules/gitlab.md
  packages/agents/rules/i18n.md
  packages/agents/rules/jest.md
  packages/agents/rules/nextjs.md
  packages/agents/rules/npm-yarn.md
  packages/agents/rules/react.md
  packages/agents/rules/redux.md
  packages/agents/rules/style.md
  packages/agents/rules/tailwind.md
  packages/agents/rules/testing.md
  packages/agents/rules/turbo.md
  packages/agents/rules/typescript.md
  packages/agents/rules/vite.md
  packages/agents/rules/webstorm.md
Due: yarn eslint, yarn prettier

chore: removed builders experiment
  packages/utils-private/builders/.swcrc
  packages/utils-private/builders/build.config.ts
  packages/utils-private/builders/bun.build.js
  packages/utils-private/builders/package.json
  packages/utils-private/builders/perf.mjs
  packages/utils-private/builders/rollup.config.mjs
  packages/utils-private/builders/rslib.config.ts
  packages/utils-private/builders/tsconfig.json
  packages/utils-private/builders/tsup.config.ts
  packages/utils-private/builders/turbo.json
  packages/utils-private/builders/vite.config.ts
Due: yarn eslint, yarn prettier

chore: upgrade build utils
  package.json
  packages/utils-private/package.json
  packages/utils-private/vite.config.ts
  yarn.lock
Due: yarn eslint, yarn prettier

chore: fix wrpc test after upgrade
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/utils-private/vite.config.ts
  packages/worker/src/wrpc.test.ts
Due: yarn eslint, yarn prettier

fix: upgraded ruleset & installation method
  .augment/rules/AGENTS.md
  AGENTS.md
  CLAUDE.md
  packages/agents/README.md
  packages/agents/bin/index.js
  packages/agents/rules/code-style.md
  packages/agents/rules/electron.md
  packages/agents/rules/expo.md
  packages/agents/rules/github.md
  packages/agents/rules/gitlab.md
  packages/agents/rules/i18n.md
  packages/agents/rules/jest.md
  packages/agents/rules/monorepo-turbo-nx.md
  packages/agents/rules/nextjs.md
  packages/agents/rules/npm-yarn.md
  packages/agents/rules/react.md
  packages/agents/rules/redux.md
  packages/agents/rules/storybook.md
  packages/agents/rules/style.md
  packages/agents/rules/tailwind.md
  packages/agents/rules/testing.md
  packages/agents/rules/turbo.md
  packages/agents/rules/typescript.md
  packages/agents/rules/vite.md
  packages/agents/rules/webstorm.md
Due: yarn eslint, yarn prettier

fix: buggy AGENTS.md generator
  packages/agents/bin/index.js
Due: yarn eslint, yarn prettier

chore: skip index for umbrella packages
  packages/utils-private/vite.config.ts
Due: yarn eslint, yarn prettier

fix: minor rules update
  packages/agents/rules/nextjs.md
  packages/agents/rules/npm-yarn.md
Due: yarn prettier

fix: symlink agent skills, add recommended rule sets to eslint config
  .claude/CLAUDE.md
  .claude/skills/eslint-config-next-custom/README.md
  .claude/skills/eslint-config-next-custom/SKILL.md
  .codex/skills/eslint-config-next-custom/README.md
  .codex/skills/eslint-config-next-custom/SKILL.md
  .gitignore
  .idea/utils.iml
  .prettierignore
  eslint.config.mjs
  nx.json
  package.json
  packages/agents/README.md
  packages/agents/bin/index.js
  packages/agents/package.json
  packages/agents/rules/code-style.md
  packages/agents/rules/monorepo-turbo-nx.md
  packages/agents/rules/nextjs.md
  packages/agents/rules/storybook.md
  packages/agents/rules/testing.md
  packages/agents/rules/typescript.md
  packages/agents/rules/webstorm.md
  packages/agents/skills/verify-agent-rules.md
  packages/eslint-config-next-custom/README.md
  packages/eslint-config-next-custom/SKILL.md
  packages/eslint-config-next-custom/index.js
  packages/eslint-config-next-custom/install.js
  packages/eslint-config-next-custom/package.json
  packages/eslint-config-next-custom/rules/testColocation.js
  yarn.lock
Due: yarn eslint, yarn prettier

fix: control no longer renders literal "undefined" class
  packages/bootstrap/package.json
  packages/bootstrap/src/controls.tsx
Due: yarn eslint, yarn prettier

fix: lazy heavy plugin imports, drop unreliable import-x rules, leaner test-colocation
  packages/eslint-config-next-custom/index.js
  packages/eslint-config-next-custom/rules/testColocation.js
Due: yarn eslint, yarn prettier

fix: verify-agent-rules discovers rules via .claude/rules with node_modules fallback
  packages/agents/package.json
  packages/agents/rules/vite.md
  packages/agents/skills/verify-agent-rules.md
Due: yarn prettier

fix: respect SoftLink consumer onClick and modified clicks
  packages/next/package.json
  packages/next/src/softLink.tsx
Due: yarn eslint, yarn prettier

feat: concise agent rules with skills
  packages/agents/README.md
  packages/agents/rules/github.md
  packages/agents/rules/gitlab.md
  packages/agents/rules/monorepo-turbo-nx.md
  packages/agents/rules/npm-yarn.md
  packages/agents/rules/webstorm.md
  packages/agents/skills/verify-agent-rules.md
Due: yarn prettier

feat: vite, vitest, nx, turbo, jest recommended rules & skills
  packages/eslint-config-next-custom/README.md
  packages/eslint-config-next-custom/SKILL.md
  packages/eslint-config-next-custom/index.js
Due: yarn eslint, yarn prettier

chore: rules sync
  .claude/commands/consistency.md
  .claude/commands/normalize-extensions.md
  .editorconfig
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .idea/jsLinters/eslint.xml
  .idea/prettier.xml
  README.md
  eslint.config.mjs
Due: yarn eslint, yarn prettier

chore: nx version mismatch
  AGENTS.md
  nx.json
  packages/agents/rules/monorepo-turbo-nx.md
Due: yarn prettier

feat: vite, vitest, nx, turbo, jest recommended rules & skills
  packages/agents/CHANGELOG.md
  packages/agents/rules/mui.md
  packages/agents/rules/typescript.md
  packages/eslint-config-next-custom/CHANGELOG.md
  packages/eslint-config-next-custom/README.md
  packages/eslint-config-next-custom/index.js
  packages/eslint-config-next-custom/package.json
Due: yarn eslint, yarn prettier

fix: vite env ignore
  packages/eslint-config-next-custom/index.js
Due: yarn eslint, yarn prettier

chore: push tags fix
  nx.json
  package.json
  packages/agents/README.md
  packages/agents/rules/monorepo-turbo-nx.md
  packages/eslint-config-next-custom/index.js
Due: yarn eslint, yarn prettier

chore: prepare vs postinstall
  packages/lint/README.md
  packages/lint/index.js
  packages/lint/rules/github.md
  packages/lint/rules/gitlab.md
  packages/lint/rules/monorepo-turbo-nx.md
  packages/lint/rules/npm-yarn.md
  packages/lint/skills/lint-repo.md
  yarn.lock
Due: yarn eslint, yarn prettier

chore: redundant build on publish, first publish
  .github/workflows/release.yml
  AGENTS.md
  nx.json
Due: yarn prettier

feat: combined lint package with eslint and AI rules
  packages/lint/README.md
  packages/lint/index.js
  packages/lint/rules/monorepo-turbo-nx.md
  packages/lint/rules/npm-yarn.md
  packages/lint/rules/nx.md
  packages/lint/rules/turbo.md
Due: yarn eslint, yarn prettier

chore: release approval + graveyard
  .github/actions/coverage-summary/action.yml
  .github/actions/setup/action.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  nx.json
  packages/agents/package.json
  packages/eslint-config-next-custom/package.json
Due: yarn prettier

fix: yarn 1 & npm compatibility
  packages/lint/lintPrepare.js
Due: yarn eslint, yarn prettier

chore: lock
  yarn.lock
Due: none

feat: tailwind rules
  packages/lint/README.md
  packages/lint/findTailwindEntry.js
  packages/lint/index.js
  packages/lint/lib.js
  packages/lint/package.json
  packages/lint/rules/tailwind.md
Due: yarn eslint, yarn prettier
