Repository kirill-konshin/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier

chore: tailwind rules
  .github/actions/setup/action.yml
  .github/workflows/release.yml
  packages/bootstrap/src/controls.tsx
  packages/bootstrap/src/footer.tsx
  packages/bootstrap/src/globalLoading.tsx
  packages/bootstrap/src/responsiveHelper.stories.tsx
  packages/bootstrap/src/screen.stories.tsx
  packages/bootstrap/src/screen.tsx
  packages/bootstrap/src/toaster.tsx
  packages/tailwind/src/fullpage.tsx
  packages/tailwind/src/responsiveHelper.stories.tsx
  packages/tailwind/src/responsiveHelper.tsx
  yarn.lock
Due: yarn eslint, yarn prettier

feat: composite config
  packages/lint/README.md
  packages/lint/configs/base.js
  packages/lint/configs/base.test.js
  packages/lint/configs/imports.js
  packages/lint/configs/next.js
  packages/lint/configs/next.test.js
  packages/lint/configs/nx.js
  packages/lint/configs/nx.test.js
  packages/lint/configs/prettier.js
  packages/lint/configs/promise.js
  packages/lint/configs/storybook.js
  packages/lint/configs/tailwind.js
  packages/lint/configs/tailwind.test.js
  packages/lint/configs/testing.js
  packages/lint/configs/turbo.js
  packages/lint/configs/typescriptTypeAware.js
  packages/lint/configs/typescriptTypeAware.test.js
  packages/lint/configs/unicorn.js
  packages/lint/findTailwindEntry.js
  packages/lint/index.d.ts
  packages/lint/index.js
  packages/lint/index.test.js
  packages/lint/lib.js
  packages/lint/lib.test.js
  packages/lint/package.json
  packages/lint/ruleTestColocation.js
  packages/lint/rules/tailwind.md
  packages/lint/rules/testing.md
  packages/lint/skills/lint-repo.md
  packages/lint/testUtils.js
  packages/lint/vitest.config.js
Due: yarn eslint, yarn prettier

chore: composite config
  eslint.config.mjs
  yarn.lock
Due: yarn eslint, yarn prettier

fix: detection
  packages/lint/README.md
  packages/lint/configs/next.test.js
  packages/lint/configs/nx.js
  packages/lint/configs/nx.test.js
  packages/lint/configs/react.js
  packages/lint/configs/react.test.js
  packages/lint/configs/storybook.js
  packages/lint/configs/tailwind.js
  packages/lint/configs/tailwind.test.js
  packages/lint/configs/testing.js
  packages/lint/configs/turbo.js
  packages/lint/configs/typescriptTypeAware.js
  packages/lint/index.d.ts
  packages/lint/index.js
  packages/lint/index.test.js
  packages/lint/lib.js
  packages/lint/lib.test.js
  packages/lint/rules/tailwind.md
Due: yarn eslint, yarn prettier

fix: scoped tailwind
  packages/lint/README.md
  packages/lint/configs/tailwind.js
  packages/lint/configs/tailwind.test.js
  packages/lint/index.d.ts
  packages/lint/lib.js
  packages/lint/rules/tailwind.md
Due: yarn eslint, yarn prettier

fix: hoisting
  packages/lint/README.md
  packages/lint/configs/react.js
  packages/lint/configs/storybook.js
  packages/lint/configs/tailwind.js
  packages/lint/configs/tailwind.test.js
  packages/lint/index.d.ts
  packages/lint/index.js
  packages/lint/lib.js
  packages/lint/lib.test.js
  packages/lint/package.json
  packages/lint/rules/npm-yarn.md
  packages/lint/rules/tailwind.md
Due: yarn eslint, yarn prettier

chore: hoisting
  package.json
  yarn.lock
Due: yarn prettier

chore: zsh in husky
  packages/lint/README.md
Due: yarn prettier

chore: yarn upgrade, ignore cleanup
  .claude/rules/code-style.md
  .claude/rules/electron.md
  .claude/rules/expo.md
  .claude/rules/github.md
  .claude/rules/gitlab.md
  .claude/rules/i18n.md
  .claude/rules/jest.md
  .claude/rules/monorepo-turbo-nx.md
  .claude/rules/mui.md
  .claude/rules/nextjs.md
  .claude/rules/npm-yarn.md
  .claude/rules/react.md
  .claude/rules/redux.md
  .claude/rules/storybook.md
  .claude/rules/tailwind.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
  .claude/rules/vite.md
  .claude/rules/webstorm.md
  .claude/settings.local.json
  .claude/skills/lint-repo/README.md
  .claude/skills/lint-repo/SKILL.md
  .gemini/settings.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .idea/jsonSchemas.xml
  .npmignore
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  AGENTS.md
  package.json
  packages/agents/package.json
  packages/lint/rules/webstorm.md
  yarn.lock
Due: yarn eslint, yarn prettier

chore: root vitest fixed
  .idea/runConfigurations/lint.xml
  .idea/runConfigurations/release_preview.xml
  AGENTS.md
  nx.json
  packages/utils-private/vite.config.ts
  packages/utils-private/vite.exports.ts
  packages/utils/package.json
Due: yarn eslint, yarn prettier

chore: react act warning spam
  packages/react/package.json
  packages/utils-private/vite.config.ts
  packages/utils-private/vitest.setup.ts
  yarn.lock
Due: yarn eslint, yarn prettier

chore: corepack
  .github/actions/setup/action.yml
Due: yarn prettier

chore: ts
  .editorconfig
  yarn.lock
Due: none

fix: turbo with, TW/MUI in admin
  packages/lint/README.md
  packages/lint/package.json
  packages/lint/rules/monorepo-turbo-nx.md
  packages/lint/rules/mui.md
  packages/lint/rules/nextjs.md
  packages/lint/rules/tailwind.md
  packages/lint/rules/turbo.md
  packages/lint/rules/typescript.md
Due: yarn prettier

fix: client-server separation
  packages/react/src/form/client.tsx
  packages/react/src/form/form.tsx
  packages/react/src/form/index.ts
  packages/react/src/form/validation.ts
Due: yarn eslint, yarn prettier

chore: lock
  AGENTS.md
  package.json
  yarn.lock
Due: yarn prettier

fix: auth, icons, mui admin
  packages/auth/.gitignore
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/auth.test.ts
  packages/auth/src/auth.ts
  packages/auth/src/client/index.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/auth/vite.config.ts
  packages/icons/.gitignore
  packages/icons/README.md
  packages/icons/package.json
  packages/icons/src/fontawesome.ts
  packages/icons/src/gravityui.ts
  packages/icons/src/index.ts
  packages/icons/tsconfig.json
  packages/icons/vite.config.ts
  packages/lint/rules/auth.md
  packages/lint/rules/mui.md
  packages/lint/rules/nextjs.md
  packages/mui/README.md
  packages/mui/src/admin/appProvider.tsx
  packages/mui/src/admin/dashboardLayout.tsx
  packages/mui/src/admin/index.ts
  packages/mui/src/admin/signInPage.tsx
  packages/mui/src/index.ts
  packages/next/README.md
  packages/next/package.json
  packages/next/src/config.ts
  packages/next/src/index.ts
  packages/utils/package.json
  packages/utils/src/auth/index.ts
  packages/utils/src/icons/index.ts
  packages/utils/src/index.ts
Due: yarn eslint, yarn prettier

chore: readme
  AGENTS.md
  README.md
Due: yarn prettier

fix: yarn settings
  packages/lint/rules/github.md
  packages/lint/rules/gitlab.md
  packages/lint/rules/npm-yarn.md
Due: yarn prettier

chore: resolutions
  package.json
  packages/agents/.tomb
  packages/eslint-config-next-custom/.tomb
  yarn.lock
Due: yarn prettier

fix: init script, instructions for yarn, github, gitlab
  packages/lint/README.md
  packages/lint/lintPrepare.js
  packages/lint/rules/github.md
  packages/lint/rules/gitlab.md
  packages/lint/rules/npm-yarn.md
Due: yarn eslint, yarn prettier

chore: misc updates
  .gitignore
  .idea/jsonSchemas.xml
  .yarnrc.yml
  packages/lint/rules/webstorm.md
  yarn.lock
Due: yarn prettier

fix: max length
  .editorconfig
  packages/lint/README.md
  packages/lint/index.js
Due: yarn eslint, yarn prettier

fix: yalc for linking
  packages/lint/rules/npm-yarn.md
Due: yarn prettier

chore: nx upgrade, tombstones removed
  AGENTS.md
  nx.json
  package.json
  packages/agents/.tomb
  packages/agents/package.json
  packages/eslint-config-next-custom/.tomb
  packages/eslint-config-next-custom/package.json
  packages/lint/rules/nx.md
  yarn.lock
Due: yarn prettier

fix: readme lint
  packages/lint/README.md
  packages/lint/rules/code-style.md
Due: yarn prettier

chore: deps upgrade
  .gitignore
  .prettierignore
  demo/electron-online/package.json
  demo/electron-static-updater/package.json
  demo/react-native/package.json
  demo/tauri/package.json
  demo/web-static/package.json
  package.json
  packages/auth/package.json
  packages/bootstrap/package.json
  packages/electron-builder/package.json
  packages/electron/package.json
  packages/icons/package.json
  packages/lint/README.md
  packages/lint/configs/nx.js
  packages/lint/package.json
  packages/lint/rules/code-style.md
  packages/lint/rules/npm-yarn.md
  packages/lint/yarn.cjs
  packages/lint/yarn.d.ts
  packages/lint/yarn.test.js
  packages/mui/package.json
  packages/next/package.json
  packages/react-native/package.json
  packages/react/package.json
  packages/tailwind/package.json
  packages/utils-private/package.json
  yarn.config.cjs
  yarn.lock
Due: yarn eslint, yarn prettier

feat(lint): ts build
  packages/lint/README.md
  packages/lint/index.d.ts
  packages/lint/package.json
  packages/lint/src/configs/base.test.ts
  packages/lint/src/configs/base.ts
  packages/lint/src/configs/imports.ts
  packages/lint/src/configs/nx.test.ts
  packages/lint/src/configs/nx.ts
  packages/lint/src/configs/prettier.ts
  packages/lint/src/configs/promise.ts
  packages/lint/src/configs/react.test.ts
  packages/lint/src/configs/react.ts
  packages/lint/src/configs/storybook.ts
  packages/lint/src/configs/tailwind.test.ts
  packages/lint/src/configs/tailwind.ts
  packages/lint/src/configs/testing.ts
  packages/lint/src/configs/turbo.ts
  packages/lint/src/configs/typescriptTypeAware.test.ts
  packages/lint/src/configs/typescriptTypeAware.ts
  packages/lint/src/configs/unicorn.ts
  packages/lint/src/index.test.ts
  packages/lint/src/index.ts
  packages/lint/src/lib.test.ts
  packages/lint/src/lib.ts
  packages/lint/src/lintPrepare.ts
  packages/lint/src/testUtils.ts
  packages/lint/src/yarn.cts
  packages/lint/src/yarn.test.ts
  packages/lint/tsconfig.json
  packages/lint/vitest.config.js
  packages/lint/vitest.config.ts
  packages/lint/yarn.d.ts
Due: yarn eslint, yarn prettier

chore: root
  package.json
  yarn.lock
Due: yarn prettier

fix: type fixes
  packages/lint/rules/mui.md
  packages/lint/rules/nextjs.md
  packages/lint/rules/typescript.md
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/src/admin/signInPage.tsx
  packages/next/README.md
  packages/next/package.json
  packages/next/src/config/index.ts
  packages/next/src/config/nextConfig.ts
  packages/next/src/index.ts
Due: yarn eslint, yarn prettier

chore: fix build & exports
  .github/workflows/release.yml
  nx.json
  package.json
  packages/auth/package.json
  packages/bootstrap/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/electron-builder/package.json
  packages/electron/package.json
  packages/icons/package.json
  packages/node/package.json
  packages/react-native/package.json
  packages/react/package.json
  packages/tailwind/package.json
  packages/utils-private/package.json
  packages/utils-private/tsconfig.json
  packages/utils-private/tsconfig.tools.json
  packages/utils-private/vite.config.ts
  packages/utils-private/vite.exports.ts
  packages/utils/package.json
  packages/worker/package.json
  scripts/checkPackageBuilds.mjs
  yarn.lock
Due: yarn eslint, yarn prettier

fix: gitignore
  packages/lint/README.md
Due: yarn prettier

fix: mui rules
  packages/lint/rules/mui.md
Due: yarn prettier

fix: next.js pages & components rule
  packages/lint/rules/nextjs.md
Due: yarn prettier

fix: ui kit rules
  packages/lint/rules/mui.md
  packages/lint/rules/redux.md
  packages/lint/rules/tailwind.md
  packages/lint/rules/ui-kit.md
Due: yarn prettier

fix: gutters
  packages/lint/rules/tailwind.md
Due: yarn prettier

chore: lock
  README.md
  yarn.lock
Due: yarn prettier

fix: db package
  packages/db/.attw.json
  packages/db/.gitignore
  packages/db/README.md
  packages/db/package.json
  packages/db/prompt.md
  packages/db/src/index.ts
  packages/db/src/migrate/index.test.ts
  packages/db/src/migrate/index.ts
  packages/db/src/migrate/migrate.ts
  packages/db/src/neon-http/database.ts
  packages/db/src/neon-http/index.test.ts
  packages/db/src/neon-http/index.ts
  packages/db/src/neon-serverless/database.ts
  packages/db/src/neon-serverless/index.test.ts
  packages/db/src/neon-serverless/index.ts
  packages/db/src/types/database.ts
  packages/db/src/types/index.test.ts
  packages/db/src/types/index.ts
  packages/db/src/url/databaseUrl.ts
  packages/db/src/url/index.test.ts
  packages/db/src/url/index.ts
  packages/db/tsconfig.json
  packages/db/vite.config.ts
  packages/lint/rules/db.md
  packages/lint/rules/npm-yarn.md
  packages/utils/package.json
  packages/utils/src/db/index.ts
Due: yarn eslint, yarn prettier

fix: db types
  packages/db/README.md
  packages/db/src/types/database.ts
  packages/db/src/types/index.test.ts
Due: yarn eslint, yarn prettier

chore: ts
  packages/bootstrap/src/useWrappedForm.ts
  packages/browser/src/files.ts
  packages/react-native/src/share.ts
  packages/react-native/src/useAppState.ts
  packages/react/src/form/client.tsx
Due: yarn eslint, yarn prettier

Path conditions:
  yarn eslint: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  yarn prettier: any of: *.{js,jsx,ts,tsx,cjs,mjs,css,scss,sass,less,md,mdx,yml,json,html}
